---
cname: {{cname}}
title: {{topic}}
description: {{description}}
cover: false
---
<banner></banner>

## Questions

{{#pairs}}
- {{q}}
{{/pairs}}

## Vocabulary

<vocab-list>
{{#vocab}}
- {{en}}
  - {{def}}
{{/vocab}}

<!-- blank -->

</vocab-list>

## Answers
Here are some model answers!

:::tip
Try to make up your own answers first!
:::

{{#pairs}}
- {{q}}
  - {{a}}
{{/pairs}}

## Practice
Talk to the AI老师 to practice your English!
<qrfooter></qrfooter>
