# Topic {{topic}}

{{description}}

## Questions

{{#pairs}}
- {{q}}
{{/pairs}}

## Vocabulary

{{#vocab}}
- {{en}}
  - {{def}}
{{/vocab}}


## Answers
Here are some model answers!

Try to make up your own answers first!

{{#pairs}}
- {{q}}
  - {{a}}
{{/pairs}}

## Practice
Talk to the AI老师 to practice your English!

https://tutorweb.rikai-bots.com/course/speaking/{{cname}}.html
